.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;

    .profile {
        max-width: 200px;

    }

    span {
        display: flex;
        gap: 25px;
        justify-content: center;

        a {
            margin: 0;

            img {
                width: 40px;
            }
        }
    }

    a {
        width: fit-content;
        align-self: center;
    }

    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        width: 126px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 4xp rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }

    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 0 4px 4xp rgba(0, 0, 0, 0.25);
    }

    .colorMadeContainer {
        position: relative;
        width: 50px;
    }

    .colorMode {
        position: absolute;
        width: 30px;
    }

    .colorMode:hover {
        cursor: pointer;
    }

    .description {
        max-width: 24ch;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .profile {
        width: 150px; /* ปรับขนาดตามที่ต้องการ */
        height: 150px; /* ควรเป็นขนาดเดียวกันเพื่อทำให้เป็นวงกลม */
        border-radius: 50%; /* ทำให้เป็นวงกลม */
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* เงาไปทางล่างขวา */
        object-fit: cover; /* ป้องกันรูปภาพเบี้ยว */
      }

}